body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header-wrapper{
  background-color: aquamarine;
  padding-top: 1px;
  padding-left: 60px;
  padding-bottom: 10px;
}
.app{
  
}

.main-wrapper{
  padding-left: 60px;
}

.footer-wrapper{
  background-color: aquamarine;
  text-align: center;
}

.footer-spacer{
  height: 3px;
  width: 100%;
  background-color: aliceblue;
}
